/* Splash.css */
.splash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e87b00;
  }
  
  .logo {
    width: 300px; 
    height: auto;
    margin-bottom: 20px;
  }
  
    .slogan {
    text-align: center;
    color: #fff; 
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 600; 
  }
  
  