.connect-tiktok-popup {
    width: 300px;
    height: 400px;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    margin: auto;
  }
  
  .tiktok-title {
    width: 238px;
    height: 44px;
    border: none;
    border-radius: 30px;
    margin-bottom: 10px;
    background-color: #e87b00;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 44px; /* Center the text vertically */
  }
  
  .link-box {
    width: 238px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    color: #d5d5d5;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
  }
  
  .connecttiktok-buttons-container {
    display: flex;
    flex-direction: row-reverse; 
    margin-top: auto;
    margin-bottom: 10px;
  }
  
  .prim-button,
  .sec-button {
    width: 96px;
    height: 44px;
    border: none;
    border-radius: 30px;
    margin-right: 10px; 
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .prim-button {
    background-color: #e87b00;
    color: white;
  }
  
  .sec-button {
    border: 2px solid #e87b00;
    background-color: transparent;
    color: #e87b00;
  }
  