/* styles/SignUp.css */
.signup-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #e87b00;
  height: 932px;
  position: relative;
  width: 430px;
 align-items: center;
  }
  
  .logo {
    width: 200px;
    height: auto;
    margin-top: 20px;
  }
  
  .signup-form {

    padding: 20px;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    width: 300px;
    margin-top: 50px;
  }
  
  
  .input-group {
   
    margin-left: -10px;
  }
  
  label {
    font-size: 12px;
    text-align: left;
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    
  }
  
  .box-input {
    width: 338px; 
    height: 60px;
    border-radius: 10px;
  }

  .box-input-pass {
    width: 338px; 
    height: 60px;
    border-radius: 10px;
    margin-bottom: 40px;
  }

  .signup1-button {
    background-color: #081A36;
    color: #fff;
    padding: 20px 120px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    width: 338px;
    height: 60px;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 16px;
    margin-left: -10px;
    font-weight: 600;
    text-decoration: none;
  }
  
  .or-signup-with {
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    margin: 40px 0;
    color: #fff;
  }
  
  .social-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    flex-direction: column;
    margin-left: -10px;
    text-align: left;
  }
  
  .twitter-button {
    background-color: #fff;
  color: black;
  text-align: left;
  padding: 0px 70px;
  width: 338px; 
  height: 60px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid white;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    cursor: pointer;
  }
  
  .facebook-button {
    background-color: #fff;
    color: black;
    text-align: left;
    padding: 0px 60px;
    width: 338px; 
    height: 60px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid white;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    cursor: pointer;
    
}


.facebook-icon,
.twitter-icon {
  order: -1;

}



  .terms-checkbox {
    margin-top: 50px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  input[type="checkbox"] {
    font-size: 12px;
    text-align: left;
    margin-right: 8px;
  }
  