/* styles/SignUp.css */
.signup-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #e87b00;
  height: 932px;
  position: relative;
  width: 430px;
  align-items: center;
  }
  
  .logo {
    width: 200px;
    height: auto;
    margin-top: 20px;
  }
  
  .signup-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    width: 300px;
    margin-top: 100px;
  }
  
  h2 {
    color: #e87b00;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    font-size: 12px;
    text-align: left;
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .signup-button {
    background-color: #e87b00;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
  }
  
  .or-signup-with {
    font-size: 12px;
    margin: 15px 0;
    color: #333;
  }
  
  .social-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .twitter-button,
  .facebook-button {
  background-color: #1877f2; /* Facebook blue color */
  color: white;
  padding: 10px 20px;
  font-size: 14px; /* Adjust the font size */
  width: 48%; /* Adjust the width as needed */
}
  
  .terms-checkbox {
    
    display: flex;
    align-items: center;
  }
  
  input[type="checkbox"] {
    font-size: 12px;
    text-align: left;
    margin-right: 8px;
  }
  