
.account-screen {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #d5d5d5;
    height: 932px;
    position: relative;
    width: 430px;
  }
  
  .top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    height: 75px;
  }
  
  .menu-drawer-container {
    width: 297px;
    height: 932px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: -297px;
    transition: left 0.3s ease-in-out;
    align-items: center;
    z-index: 2;
    display: none;
  }
  
  .menu-drawer-container.open {
    left: 0;
    display: block; 
  }
  
  .header {
    text-align: center;
    padding: 20px;
  }
  
  .menu-items {
    padding: 20px;
  }
  
  .menu-items p {
    margin-bottom: 30px;
    cursor: pointer;
    text-align: center;
  }
  
  .dark-mode-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
  }

  .my-account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  
  .profile-picture-container {
    margin-bottom: 20px;
  }
  
  .profile-picture {
    width: 137px;
    height: 137px;
    background-color: #fff; /* Placeholder color */
    border-radius: 50%; /* Make it a circle */
    border-color: darkorange;
    border: 3px solid #E87B00;
  }
  
  .social-media-container {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    gap: 15px;
  }
  
  .social-media-box {
    width: 64px;
    height: 61px;
    background-color: #fff; /* Placeholder color */
    margin-right: 10px;
    border-radius: 10px;
    border: 3px solid #E87B00;
  }
  
  .prompts-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
  
  .prompt-box {
    width: 370px;
    height: 30px;
    border-radius: 20px;
    background-color: #fff; /* Placeholder color */
    margin-bottom: 10px;
  }

  .instagram-container {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    flex-direction: row;
    gap: 9px;
    margin-left: 25px;
  }
  
  .insta-title {
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 25px;
  }

  .insta-box {
    width: 64px;
    height: 61px;
    background-color: #fff; 
    border-radius: 10px;
    border: 3px solid #E87B00;
  }

  .remove-link {
    font-family: "Inter-Medium", Helvetica;
    font-size: 12px;
    font-weight: 500;
    margin-left: 350px;
    color: darkred;
    text-decoration: underline;
  }

.bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 10px 0;
    height: 98px;
  }
  
  .bottom-icons {
    display: flex;
    gap: 50px;
    font-size: 24px;
  }
  