.home-home-screen {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #d5d5d5;
    height: 932px;
    position: relative;
    width: 430px;
  }
  
  .home-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    height: 75px;
  }
  
  .menu-drawer-container {
    width: 297px;
    height: 932px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: -297px;
    transition: left 0.3s ease-in-out;
    align-items: center;
    z-index: 2;
    display: none;
  }
  
  .menu-drawer-container.open {
    left: 0;
    display: block; 
  }
  
  .header {
    text-align: center;
    padding: 20px;
  }
  
  .menu-items {
    padding: 20px;
  }
  
  .menu-items p {
    margin-bottom: 30px;
    cursor: pointer;
    text-align: center;
  }
  
  .dark-mode-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
  }

  .home-profile-cards-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    padding: 20px;
    
  }
  
  .profile-card {
    position: relative;
    width: 298px;
    height: 100%;
    margin: 0 10px;
    border-radius: 15px;
    top: 40px;
  }
  
  .ellipse-overlay {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 70px;
    height: 72px;
    background-color: #fff;
    border-radius: 50%;
    border: #e87b00;
    border: 3px solid;
  }
  
  .cover-photo {
    width: 300px;
    height: 382px;
    border-radius: 20px;
    background-size: cover;
    background-position: top;
    background-color: #fff;
  }
  
  .cover-photo left-card {
    transform: scale(0.8); /* Adjust the scale factor for the left card */
  }
  
  .cover-photo right-card {
    transform: scale(0.8); /* Adjust the scale factor for the right card */
  }

  .profile-photo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
  }
  
  .verified-check {
    position: absolute;
    left: 30px;
    font-size: 20px;
    bottom: 175px; 
  }
  
  .user-info {
    position: absolute;
    bottom: 177px;
    left: 100px;
    color: #151414;
  }
  
  .name-age {
    font-weight: 600;
    font-size: 20px;
  }
  
  .location {
    font-size: 14px;
  }
  
  .chevron {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 20px;
    top: 70px;
  }
  
  .action-buttons {
    position: absolute;
    bottom: 50px; 
    right: 20px;
    display: flex;
    gap: 30px;
  }
  
  .rewind-button,
  .dislike-button,
  .like-button,
  .save-button {
    width: 45px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 4px 6px #00000026;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }
  
  .home-bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 10px 0;
    height: 98px;
  }
  
  .bottom-icons {
    display: flex;
    gap: 50px;
    font-size: 24px;
  }
  

  