/* Settings.css */

body {
    margin: 0;
    padding: 0;
  }
  
  .settings-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #d5d5d5;
    height: 932px;
    position: relative;
    width: 430px;
  }
  
  .top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    height: 75px;
  }
  
  .done-button{
    color: #e87b00;
  }

  .filters-container {
    background-color: #f0f0f0;
    padding: 20px;
  }

  .settings {

    font-size: 18px;
    font-weight: 600;

  }
  
  .age-title {
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
  }

  .distance {
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    margin-top: 40px;
  }

  .min-value {
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
  }

  .max-value {
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
  }

  .rc-slider {
    width: 372px;
    margin: 20px 0;
  }
  
  .rc-slider-rail {
    background-color: orange;
    height: 10px;
  }
  
  .rc-slider-track {
    background-color: orange;
    height: 10px;
  }
  
  .rc-slider-handle {
    border: 2px solid orange;
    background-color: white;
    width: 25px;
    height: 25px;
    margin-top: -8px;
  }
  
  .rc-slider-handle-dragging, .rc-slider-handle:hover {
    border-color: orange;
  }
  
  .rc-slider-mark-text {
    display: none;
  }
  
  .rc-slider-mark-dot {
    display: none;
  }

  .ethnicity-title{
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 10px;

  }
  .additional-settings {
    margin-top: 90px;
    padding: 20px;
  }
  
  .setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  

  
  .bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 10px 0;
    height: 98px;
  }
  
  .bottom-icons {
    display: flex;
    gap: 50px;
    font-size: 24px;
  }