.part2-onboarding {

.onboarding {
    background-color: #d5d5d5;
    height: 932px;
    position: relative;
    width: 430px;
    margin: 0 auto;
    align-items: center;
  }
  
  .onboarding .back {
    height: 22px;
    left: 21px;
    position: absolute;
    top: 49px;
    width: 21px;
  }
  
  .onboarding .group {
    height: 4px;
    left: 170px;
    position: absolute;
    top: 56px;
    width: auto;
  }
  
  .onboarding .page-title {
    position: absolute;
    top: 102px;
    text-align: center;
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    left: 90px;
  }
  
  .onboarding .div {
    color: #9d9d9d;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 91px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 196px;
    width: 249px;
  }
  
  .onboarding .frame {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    left: 86px;
    position: absolute;
    top: 236px;
  }
  
  .onboarding .rectangle {
    background-color: #ffffff;
    border: 2px solid;
    border-color: #e87b00;
    border-radius: 10px;
    height: 61px;
    position: relative;
    width: 64px;
  }
  
  .onboarding .img {
    height: 20px;
    left: 23px;
    position: absolute;
    top: 21px;
    width: 18px;
  }
  
  .onboarding .frame-2 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    left: 136px;
    position: absolute;
    top: 235px;
  }
  
  .onboarding .frame-3 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    left: 216px;
    position: absolute;
    top: 234px;
  }
  
  .onboarding .frame-4 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    left: 296px;
    position: absolute;
    top: 234px;
  }
  
  .onboarding .frame-5 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 68px;
    left: 56px;
    position: absolute;
    top: 364px;
  }
  
  .onboarding .frame-6 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 28px;
    position: relative;
  }
  
  .onboarding .p {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 221px;
    left: -7px;
  }
  
  .onboarding .frame-7 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 19px;
    position: relative;
  }
  
  .onboarding .div-wrapper {
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    overflow: hidden;
    padding: 5px 150px;
    position: relative;
  }
  
  .onboarding .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
    height: 20px;
  }
  
  .onboarding .frame-8 {
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    overflow: hidden;
    padding: 5px 149px;
    position: relative;
  }
  
  .onboarding .frame-9 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 18px;
    position: relative;
    left: 0px;
  }
  
  .onboarding .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 146px;
  }
  
  .onboarding .frame-10 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    position: relative;
    top: 10px;
  }
  
  .onboarding .ellipse {
    background-color: #ffffff;
    border-radius: 31px/30px;
    height: 60px;
    position: relative;
    width: 62px;
  }
  
  .onboarding .instagram {
    height: 34px;
    left: 14px;
    position: absolute;
    top: 13px;
    width: 34px;
  }
  
  .onboarding .overlap-group-wrapper {
    height: 44px;
    left: 168px;
    position: absolute;
    top: 790px;
    width: 98px;
  }
  
  .onboarding .overlap-group {
    background-color: #e87b00;
    border-radius: 30px;
    box-shadow: 0px 4px 6px #00000026;
    height: 44px;
    position: relative;
    width: 96px;
  }
  
  .onboarding .text-wrapper-4 {
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 13px;
  }
}