/* 3onboarding.css */
.part3-onboarding {
    margin: 0 auto; /* Center the container horizontally */
    background-color: #d5d5d5;
    height: 932px;
    position: relative;
    width: 430px;
  }
  
  .part3-onboarding .back {
    height: 22px;
    left: 21px;
    position: absolute;
    top: 49px;
    width: 21px;
  }
  
  .part3-onboarding .group {
    height: 4px;
    left: 142px;
    position: absolute;
    top: 56px;
    width: 146px;
  }
  
  .part3-onboarding .text-wrapper {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 74px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 90px;
    width: 283px;
  }
  
  .part3-onboarding .interests-title {
    position: absolute;
    top: 102px;
    width: 100%;
    text-align: center;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
  }
  
  .part3-onboarding .interests-container {
    position: absolute;
    top: 200px;
    width: 100%;
    text-align: center;
  }
  
    .part3-onboarding .interest-box {
        width: 92px;
        height: 89px;
        padding: 36px 20px;
        overflow: hidden;
        margin: 0 20px 20px 0;
        gap: 10px;
        background-color: #ffffff;
        box-shadow: 5px 4px 10px #00000040;
        border-radius: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-family: "Inter-Regular", Helvetica;
        font-size: 12px;
        font-weight: 400;
        margin-top: -2px;
        color: #000000;
        cursor: pointer;
      }
    
      .part3-onboarding .dropdown-wrapper {
        position: absolute;
        top: 650px;
        width: 100%;
        text-align: left;
        left: 30px;
      }
    
      .part3-onboarding .dropdown-label {
        color: #000000;
        font-family: "Inter-Medium", Helvetica;
        font-size: 14px;
        font-weight: 500;
        position: relative;
        margin-bottom: 12px;
      }
    
      .part3-onboarding .dropdown {
        width: 320px;
        height: 30px;
        background-color: #ffffff;
        border-radius: 20px;
        padding: 0 15px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
      }
    
      .part3-onboarding .dropdown-text {
        color: #9d9d9d;
        font-family: "Inter-Regular", Helvetica;
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
      }
    
      .part3-onboarding .sort-down-icon {
        height: 22px;
        width: 20px;
      }
    
      .part3-onboarding .next-button {
        position: absolute;
        bottom: 48px;
        width: 100%;
        text-align: center;
        align-items: center;
        left: 150px;
      }
    
      .part3-onboarding .next {
        background-color: #e87b00;
        border-radius: 30px;
        box-shadow: 0px 4px 6px #00000026;
        height: 44px;
        position: relative;
        width: 96px;
      }
    
      .part3-onboarding .next-text {
        color: #ffffff;
        font-family: "Inter-SemiBold", Helvetica;
        font-size: 14px;
        font-weight: 600;
        left: 32px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: 13px;
      }
    