/* 4onboarding.css */
.part4-onboarding {
    background-color: #d5d5d5;
    margin: 0 auto;
    height: 932px;
    position: relative;
    width: 430px;
  }
  
  .part4-onboarding .back {
    height: 22px;
    left: 21px;
    position: absolute;
    top: 49px;
    width: 21px;
  }
  
  .part4-onboarding .group {
    height: 4px;
    left: 142px;
    position: absolute;
    top: 56px;
    width: 146px;
  }
  
  .part4-onboarding .title {
    position: absolute;
    top: 90px;
    width: 100%;
    text-align: center;
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
  }
  
  .part4-onboarding .subtitle {
    position: absolute;
    top: 172px;
    width: 100%;
    text-align: center;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
  }
  
  .part4-onboarding .dropdown-wrapper {
    position: absolute;
    top: 230px;
    width: 100%;
    text-align: left;
    left: 50px;
  }
  
  .part4-onboarding .dropdown {
    width: 320px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .part4-onboarding .dropdown-text {
    color: #9d9d9d;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
  }
  
  .part4-onboarding .sort-down-icon {
    height: 22px;
    width: 20px;
  }
  
  .part4-onboarding .or-text {
    position: absolute;
    top: 310px;
    width: 100%;
    text-align: center;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
  }
  
  .part4-onboarding .quiz-button {
    position: absolute;
    top: 390px;
    width: fit-content;
    text-align: center;
    padding: 13px 24px;
    border-radius: 30px;
    background-color: #e87b00;
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    left: 150px;
  }
  
  .part4-onboarding .info-wrapper {
    position: absolute;
    top: 750px;
    width: 100%;
    text-align: center;
  }
  
  .part4-onboarding .info-icon {
    height: 16px;
    width: 20px;
    margin-right: 6px;
  }
  
  .part4-onboarding .info-text {
    color: #9d9d9d;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
    width: 249px;
  }
  
  .part4-onboarding .next-button {
    position: absolute;
    bottom: 48px;
    width: 100%;
    text-align: center;
    align-items: center;
    left: 160px;
  }
  
  .part4-onboarding .next {
    background-color: transparent;
    border: 2px solid #e87b00;
    border-radius: 30px;
    box-shadow: none;
    height: 44px;
    position: relative;
    width: 96px;
  }
  
  .part4-onboarding .next-text {
    color: #e87b00;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 13px;
  }
  